{% extends 'base.html' %}
{% include("currency_mask.html") %}

{% block title %}Category{% endblock title %}

{% block content %}
        
    <h1 class="display-4">Expenses</h1>
    <p class="lead">
        {% if not expenses %}
            No Expenses yet. <br/>
            Please add a new Expense.
        
        {% else %}
            <ul class="list-group">
                {% for expense in expenses %}
                    <li class="list-group-item">Description: {{ expense.description }} - Amount: {{ expense.amount }} - Date: {{ expense.date }}
                        <button id="deleteButton" class="btn btn-danger" style="float: right;" onclick="confirmDelete('{{ expense.id }}')">Delete</button>
                        <a href="{{ url_for('tracker.edit_expense', expense_id=expense.id) }}">
                            <button id="editButton" class="btn btn-primary" style="float: right;">Edit</button>
                        </a>
                    </li>

                {% endfor %}
            </ul>
            <br/>
            Total: {{ total }}
        {% endif %}
        <br/>
        <br/>
        <button type="button" class="btn btn-primary">
            <a class="nav-link" href="{{ url_for('tracker.add_expense') }}">Add Expense</a>
        </button>
        <br/>
        <!-- Display flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <br/>
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br/>
        {% if budget %}
            <h2>Remaining budget:</h2>
            {% for category in budget %}
                <ul class="list-group">
                    <li class="list-group-item"> {{ category.name }} - Amount: {{ category.budget }} - Percentage: {{ category.percentage_spent }}</li>
                </ul>
            {% endfor %}
        {% endif %}
    </p>
    <br/>
    <br/>

    <script>
        function confirmDelete(expenseId) {
            var confirmDelete = confirm("Are you sure you want to delete this expense?");
            if (confirmDelete) {
                // If confirmed, redirect to the delete route with the category ID
                window.location.href = "/delete_expense/" + expenseId;
            }
        }
    </script>

{% endblock %}