<!DOCTYPE html>
<html>
    <head>
        <title>Expense Tracker - Register</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="form-container">
                    <h2>Log In</h2>
                    <form method="post">
                        {{ form.hidden_tag() }}

                        <div class="mb-3">
                            <label class="form-label">Username</label><br>
                            {{ form.username }}
                        </div>

                        <div class="mb-3">
                            <label class="inline-block mb-2">Confirm Password</label><br>
                            {{ form.password }}
                        </div>

                        <div class="mb-3">
                            <label class="inline-block mb-2">Password</label><br>
                            {{ form.confirm }}
                        </div>

                        <!-- Display flash messages -->
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{category}}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        {% if form.confirm.errors %}
                            {% for error in form.confirm.errors %}
                                <div class="alert alert-warning" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                    <p class="text-center">Already registered? <a href="/login">Login now.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
